@media screen and (max-device-width: 480px) { 

#headerbuttons {
    float: right;
    font-size: 8px;
    margin-top: 20px;
    margin-right: 5px;
}

.headerlist li a {
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
    color: black;
}

#opening {
    padding: 50px 50px 600px 50px;
}

#poem {
    padding-top: 10px;
    padding-bottom: 10px;
}

#poem h1 {
    color: #8855ff;
    padding: 15px 15px 0px 15px;
}

#poem p {
    line-height: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    padding: 0px 20px 20px 20px;
}

#moments {
    text-align: center;
    color: #8855ff;
    margin-top: 0px;
    padding: 50px 20px 0px 20px;
}

.container {
    padding-bottom: 80px;
}

#progress-bar-container li .step-inner {
    font-size: 7px;
}

.allcontent {
    margin-top: 100px;
    background-color: white;
    padding: 20px 10px 50px 10px;
    margin: 100px 50px 200px 50px;
    border-radius: 25px;
    box-shadow: 0 0 25px rgba(175, 105, 255, 0.37);
}

#more {
    margin-top: 20px;
    padding-bottom: 1px;
}

.tabsbutton {
    font-size: 10px;
    display: inline-flex;
}

/* I love you  Page */

#ily h3 {
    padding: 0px 20px 0px 20px;
}

#header1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: 27px;
    background-color: white;
    margin: 70px 30px 70px 50px;
    box-shadow: 0 0 25px rgba(175, 105, 255, 0.37);
    border-radius: 25px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    font-size: 14px;
}

/* I love you 2 */

.drawing {
    text-align: center; 
}

.drawing img {
    padding: 20px;
    border-radius: 25px;
    width: 80%;
}

.letter h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.letterbox {
    background-color: white;
    margin: 70px 50px 70px 50px;
    box-shadow: 0 0 25px rgba(175, 105, 255, 0.37);
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* I love you 3 */

#mine {
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    color: red;
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
} 

#bestfriend img {
    width: 80%;
}

}